# Virtual environment
.venv/
venv/
env/
ENV/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Microsoft Office temporary files
~$*
*.tmp

# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
.jupyter/

# VSCode settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment/config files
.env
*.env
.python-version


# Logs
*.log
logs/
*/logs/

# Database files
*.sqlite
*.db
*.sqlitedb

# Distribution / packaging
dist/
build/
*.egg-info/

# OS/IDE-specific trash
Thumbs.db
.directory
